<div class="alert alert-secondary mt-4">
    <span class="oi oi-pencil me-2" aria-hidden="true"></span>
    <strong>@if (String.IsNullOrEmpty(Description)){ @Description } else{ @Error} </strong>
</div>

@code {
    // Demonstrates how a parent component can supply parameters
    [Parameter]
    public Errors? Error { get; set; }
    [Parameter]
    public string? Description { get; set; }

}
